In [26]:
## PyBank

#Melanie Splatt

In [2]:
#Create a Python script for analyzing the financial dataset in this file: [budget_data.csv](PyBank/Resources/budget_data.csv). Dataset is composed of two columns, Date and Profit/Losses.

#First Step: import Pandas for data analysis and pathlib to handle file system path
import pandas as pd
from pathlib import Path

In [3]:
#Second Step: Create a path to the file
csvpath = Path("budget_data.csv")

In [4]:
#Third Step: Read the CSV into a DataFrame using Pandas. Verify headers and info
budget_df = pd.read_csv(csvpath)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
budget_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [6]:
#calculate The total number of months included in the dataset.
#create a test view to check for clean values 
testbudget_df = budget_df
#set index as Date to test if index and corresponding values are unique
testbudget_df.set_index('Date')
#drop duplicate rows
testbudget_df.drop_duplicates()
#Check results to ensure rows are unique
testbudget_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [7]:
# check if test and orginal row values match
if len(testbudget_df) == len(budget_df):
    print ("Clean")
elif len(testbudget_df) != len(budget_df): 
    print("Not Clean")
budget_df.head()

Clean

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [31]:
#calculate The total number of months included in the dataset
totalcnt_months = str(len(budget_df))
totalcnt_months

'86'

In [36]:
#calculate the net total amount of Profit/Losses over the entire period.
totalamt_pl = str(budget_df['Profit/Losses'].sum())
totalamt_pl

'38382578'

In [10]:
#calculate The average of the changes in Profit/Losses over the entire period. (**not sure of question - so did as two ways. chga is average of 'Profit/Losses')
average_chga = (totalamt_pl / totalcnt_months)
average_chga

446309.0465116279

In [11]:
#calculate The average of the changes in Profit/Losses over the entire period. (As a an average of differences month to month)
#add a new column that is the previous month's Profit/Losses
budget_df['Previous Month'] = budget_df['Profit/Losses'].shift(1)
budget_df.head()

       Date  Profit/Losses  Previous Month
0  Jan-2010         867884             NaN
1  Feb-2010         984655        867884.0
2  Mar-2010         322013        984655.0
3  Apr-2010         -69417        322013.0
4  May-2010         310503        -69417.0

In [12]:
#add a second new column that is the difference between the current month and previous month's Profit/Losses
budget_df['Change from Previous Month'] = budget_df['Previous Month'] - budget_df['Profit/Losses']
budget_df.head()

       Date  Profit/Losses  Previous Month  Change from Previous Month
0  Jan-2010         867884             NaN                         NaN
1  Feb-2010         984655        867884.0                   -116771.0
2  Mar-2010         322013        984655.0                    662642.0
3  Apr-2010         -69417        322013.0                    391430.0
4  May-2010         310503        -69417.0                   -379920.0

In [13]:
#Discard rows with no values and store as a new view
variances_df = budget_df.dropna()
variances_df.head()

       Date  Profit/Losses  Previous Month  Change from Previous Month
1  Feb-2010         984655        867884.0                   -116771.0
2  Mar-2010         322013        984655.0                    662642.0
3  Apr-2010         -69417        322013.0                    391430.0
4  May-2010         310503        -69417.0                   -379920.0
5  Jun-2010         522857        310503.0                   -212354.0

In [14]:
#calculate The total of the changes in Profit/Losses over the entire period.
totalamt_chgb = variances_df['Change from Previous Month'].sum()
totalamt_chgb

196785.0

In [15]:
#Get the count of columns with previous months
totalcnt_prevmonths = len(variances_df)
totalcnt_prevmonths

85

In [52]:
#calculate the average of the changes in Profit/Losses over the entire period 
average_chgb = round(totalamt_chgb / totalcnt_prevmonths, 2)
average_chgb = str(average_chgb)
average_chgb

'2315.12'

In [58]:
#calculate The greatest increase in profits (date and amount) over the entire period.
#return maximum value in 'Change from Previous Month' column
max_value = round(variances_df['Change from Previous Month'].max())
max_value = str(max_value)

In [18]:
#return row mith maximum value in 'Change from Previous Month' column
max_row = variances_df['Change from Previous Month'].idxmax()
max_row

44

In [19]:
#Return date mith maximum value in 'Change from Previous Month' column
max_date = str(variances_df['Date'].iloc[max_row])
max_date

'Oct-2013'

In [20]:
#Print date mith maximum value in 'Change from Previous Month' column
print("The Month of the greatest increase in profits is: " + max_date + " with a change of $" + max_value)

The Month of the greatest increase in profits is: Oct-2013 with a change of $2196167.0

In [55]:
#calculate The greatest decrease in losses (date and amount) over the entire period. 
#(**Wouldn't greatest increase in profits be the same as greatest decrease in losses?** - assuming this is meant as "greatest decrease in profit")
#return minimum value in 'Change from Previous Month' column
min_value = round(variances_df['Change from Previous Month'].min())
min_value = str(min_value)

In [22]:
#return row mith minimum value in 'Change from Previous Month' column
min_row = variances_df['Change from Previous Month'].idxmin()
min_row

25

In [27]:
#Return date mith minimum value in 'Change from Previous Month' column
min_date = str(variances_df['Date'].iloc[min_row])
min_date

'Mar-2012'

In [28]:
#Print date mith minimum value in 'Change from Previous Month' column
print("The Month of the greatest decrease in profits is: " + min_date + " with a change of $" + min_value)

The Month of the greatest decrease in profits is: Mar-2012 with a change of $-1926159.0

In [60]:
#print to terminal and export a text file with the results.
#  ```text
#  Financial Analysis
#  ----------------------------
#  Total Months: 86
#  Total: $38382578
#  Average  Change: $-2315.12
#  Greatest Increase in Profits: Feb-2012 ($1926159)
#  Greatest Decrease in Profits: Sep-2013 ($-2196167)
#  ```


print("Financial Analysis")
print("----------------------------")
print("Total Months: " + totalcnt_months)
print("Total: $" + totalamt_pl)
print("Average  Change: " + average_chgb)
print("Greatest Increase in Profits: " + max_date + " ($" + max_value+ ")")
print("Greatest Decrease in Profits: " + min_date + " ($" + min_value+ ")")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: 2315.12
Greatest Increase in Profits: Oct-2013 ($2196167)
Greatest Decrease in Profits: Mar-2012 ($-1926159)

In [65]:
#Write to file
output_path = Path('Financial_Analysis.txt')

with open(output_path, 'w') as file:
    file.write("Financial Analysis")
    file.write("----------------------------")
    file.write("Total Months: " + totalcnt_months)
    file.write("Total: $" + totalamt_pl)
    file.write("Average  Change: " + average_chgb)
    file.write("Greatest Increase in Profits: " + max_date + " ($" + max_value+ ")")
    file.write("Greatest Decrease in Profits: " + min_date + " ($" + min_value+ ")")